
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.banner-top {
	padding-bottom: 20px;
}

.article-thumbnail {
	float: left;
}

.item-list:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .item-list             { zoom: 1; } /* IE6 */
*:first-child+html .item-list { zoom: 1; } /* IE7 */
